@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(45, 136, 253);
    background: linear-gradient(180deg, rgba(45, 136, 253, 1) 25%, rgba(255, 213, 1, 1) 100%);
}

#container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.center {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

img.atlas {
    width: 150px;
    height: 60px;
}

.sns {
    text-align: center;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #fff;
}

.content {
    background-color: rgba(0, 0, 0, 0.20);
    padding: 20px;
    width: 300px;
    height: 330px;
    border-radius: 20px 20px 20px 20px;
}

.welcome {
    text-align: center;
    font-family: "Yu Gothic";
    font-size: 20px;
    color: #fff;
    padding-bottom: 20px;
}

.mail_title,
.pass_title,
.name_title {
    font-family: "Yu Gothic";
    color: #fff;
}

/* .mail_form,
.pass_form,
.name_form {
    padding-bottom: 20px;
} */

.new_user {
    text-align: center;
    padding-top: 20px;
}

.create_user {
    text-align: center;
    padding-top: 50px;
}

.content a {
    color: #fff;
    display: inline-block;
    border-bottom: #fff solid 2px;
}

.content .a input,
.register .a input {
    border-radius: 5px;
    height: 30px;
    width: 250px;
    border: none;
    margin-bottom: 20px;
}

/* .login_button,
.register_button {
    background-color: #E63946;
    border-radius: 5px;
    margin-left: 170px;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: #fff;
    border: none;
} */

.register {
    background-color: rgba(0, 0, 0, 0.20);
    padding: 20px;
    width: fit-content;
    border-radius: 20px 20px 20px 20px;
}

.register a {
    color: #fff;
    display: inline-block;
    border-bottom: #fff solid 2px;
}
