@charset "utf-8";

html {
    height: 100%;
}

body {
    height: 100%;
}

/* header */
header {
    background: #186AC9;
    height: 130px;
}

header #atlas {
    width: 150px;
    margin: 20px;
}

#head {
    display: flex;
    flex-wrap: nowrap;
}

#user_image p {
    position: absolute;
    top: 45px;
    right: 160px;
    font-size: 20px;
    color: #fff;
}

#header_content img {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
/* アコーディオンメニュー */

.accordion-btn {
    position: absolute;
    top: 50px;
    right: 100px;
    cursor: pointer;
}

.accordion-btn::after {
    border-right: solid 3px #fff;
    border-top: solid 3px #fff;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 25px;
    top: 38%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    transition: 0.5s;
    width: 8px;
}

.accordion-btn.open::after {
    top: 45%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: 0.5s;
}

.accordion-list {
    display: none;
    list-style: none;
    border: solid 1px #1E88E5;
    position: absolute;
    top: 130px;
    right: 1px;
    width: 300px;
}
.accordion-list li a {
    display: block;
    text-align: center;
    border-bottom: solid 1px #1E88E5;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 100%;
    color: #B2BEB5;
    background-color: #fff;
}

.accordion-list li a:hover {
    background-color: #003366;
    color: #fff;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

/* サイドバー */

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    min-height: 100vh;
    width: 100vw;
}

#confirm {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
}

.followCount {
    width: 53%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 7px;
}

.authUserName {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.authUserName,.follow-count {
    font-size: 20px;
}

.follow-btn {
    margin-left: 200px;
}

.search-btn {
    margin-top: 40px;
    text-align: center;
}

/* 投稿フォーム */

.post_container img {
    margin-top: 40px;
    margin-left: 80px;
    width: 70px;
}

.form-text {
    margin-left: 180px;
    margin-top: -60px;
    margin-bottom: 50px;
    width: 30%;
}

.post_form {
    resize: none;
    width: 150%;
    height: 3em;
}

#image {
    width: 50px;
    border-radius: 10px;
    margin-left: 700px;
}

.post_container {
    border-bottom: solid 8px #778899;
}



/* 投稿内容表示 */

.post-block {
    list-style: none;
    display: flex;
    border-bottom: 1px solid #000;
    padding-top: 30px;
}

.post-content {
    width: 100%;
    padding: 15px;
}

.post-content>div {
    display: flex;
    justify-content: space-between;
}

.post-name {
    margin-bottom: 10px;
}

.action-button {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 60px;
    margin-right: 20px;
}

#post-edit {
    width: 50px;
}

#post-delete {
    width: 50px;
}

.post-name {
    font-weight: bold;
}

/* figure {
    width: 10%;
    height: 10%;
} */

#post-user-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}




/* モーダル */
/* .content {
    margin: 0 auto;
    padding: 40px;
} */

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    width: 100%;
}

.modal_bg {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 10px;
}

.modal_post {
    resize: none;
    width: 100%;
    height: 10em;
    margin-top: 1em;
    border-top: 1px solid #93A8AC;
}

#editImage {
    margin-left: 45%;
    margin-top: 2rem;
    width: 50px;
    height: 50px;
}


/* プロフィール編集画面 */

.table_container {
    margin-top: 50px;
}

.profileTable {
    margin: auto;
}

.profileTable td {
    padding: 10px;
}

.user-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top:150px;
    left: 250px;
}

/* 検索画面 */

.search-text {
    display: flex;
    padding: 20px 20px;
    margin: 10px;
}

.search-word {
    font-size: 24px;
    margin-top: 15px;
    margin-left: 300px;
}

.search-form {
    width: 30%;
    height: 45px;
}

#searchImg {
    width: 50px;
    border-radius: 10px;
    margin-left: 10px;
}

.search_border {
    padding-bottom: 20px;
    border-bottom: solid 8px #778899;
}

.search_result {
    width: 100%;
    margin-top: 40px;
}

.search_result ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

.search_result img {
    width: 50px;
    height: 50px;
}

.username_list {
    margin-left: 20px;
}

.followBtn {
    margin-left: 30%;
}

.username {
    font-weight: bold;
}

/* 他ユーザーのプロフィール */

.userShowTable {
    margin-top: 30px;
    margin-left: 10%;
}

.userShowTable td {
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: -20px;
}

.followButton {
    margin-left: 90%;
}

/* フォローリスト */

.follow-title {
    font-size: 32px;
}

.follow-icon-list {
    margin: 50px;
    display: flex;
    align-items: center;
}

.follow-icon {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

.follow-icon figure {
    margin-left: 15px;
}
